    <div [ngClass]="{'navbar-light':!this.darkTheme, 'bg-light':!this.darkTheme, 'navbar-dark':this.darkTheme, 'bg-dark':this.darkTheme}" id="minavbar" #minavbar>
        <nav class="navbar justify-content-between" >
            
            <a class="navbar-brand" [routerLink]="['/home']" >
                <i class="fa fa-home" [ngClass]="{'fa-inverse':darkTheme}"></i>
            </a>
            
            <div class="form-inline">
                <button class="btn btn-secondary my-2 my-sm-0" (click)="onSetTheme('dark')" >Dark</button>
                &nbsp;
                <button class="btn btn-outline-secondary my-2 my-sm-0" (click)="onSetTheme('light')" >Light</button>
            </div>
            
        </nav>
    </div>
    
    <div [@routerAnimation]="getRouteAnimation(route)" [ngClass]="{'theme-dark':darkTheme}" id="mirouteroutlet" #mirouteroutlet>
        <router-outlet #route="outlet"></router-outlet>
    </div>
    
    <div [ngStyle]="{height:this.footerHeight}" [ngClass]="{'footer':true,'theme-dark':darkTheme}">
        &nbsp;
    </div>
    
